/*stuff i want throughout the site*/
$bgcolor: black;
$textcolor: white;
$bordercolor: grey;
$bordercolorwhite: white;


/* my varibles*/
body {
    background-color: $bgcolor;
    color: $textcolor;
}
      .bookimage {
          width: 23vw;
          height: 50vh;
        }
h1 { 
    text-align: center; 
}

h2 {
    text-align: center;
 }

 h3
 {
     text-align: left;
     color: white;
 }

.borderwhite { 
    border-bottom-style: solid;
    color: $bordercolorwhite;
}
.border {
    border-bottom-style: solid;
    color: gray;


/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 25%;
    padding: 5px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  /*flex box*/

  .row {
    display: flex;
  }
  
  .column {
    flex: 25%;
    padding: 5px;
  }